/* Log In Page */
.icon{
	float: none !important;
}

.login-main-div{
	display: flex; 
	flex-direction: column;
}

.login-top-div{
	display: flex;
	flex-direction: row;
	align-items: center; 
}

.login-top-div{
	box-sizing: border-box;
}

.login-radio-div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: auto;
	font-size: 14px; 
}
.login-radio-div :first-child{
	padding-right: 4px;
}
.login-radio-div :last-child{
	padding-left: 4px;
}

.login-form-div form{
	display: flex;
	flex-direction: column;
}



/* Secondary Segment */

.secondary{
	color: black !important;
}



/*  ~~~~~~ Media Page ~~~~~~~~ */

.media-image-div{
	position: relative;
	display: flex; 
	justify-content: center;
	max-width: inherit;
}

.media-image-div img{
	position: relative;
	height: auto;
	width: auto; 
	max-width: inherit;
	max-height: inherit;
}

.media-title-div h1 {
	font-size: 40px;
	margin-bottom: 0px;
}

.media-title-div div {
	margin:0;
}

.media-title-div p {
	font-size: 12px;
	padding: 0; 
}

.media-title-div h5{
	display: inline;
	font-size: 12px; 
}

.media-body {
	position: relative;
	display: flex;
	flex-direction: column;
	width: inherit;

	height: 100%;
}

.media-body-div  {
    margin-bottom: 14px; 
}

.media-body-div h1 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.media-body-div-sub h1 {
	display: inline;
	font-size: 14px;
	font-style: italic; 
	font-weight: 500;
	margin: 0;
}



.media-body-div p {
    display: inline;
    padding: 0; 
}

.media-body-div-bottom  {
    margin-bottom: 0px; 
}

.media-comp-div {
	margin-top: 8px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
}

.media-comp-div div {
	display: flex; 
    flex-grow: 1; 
    justify-content: center;
    align-items: center

}

.media-comp-div p {
	
	

	text-align: center;
	max-width: 100px;
}

.media-comp-div div img {
	max-width: 75px;
	max-height: 50px;
}

/* Media Page - Book Page */

.book-title-div h1 {
	display: inline; 
	font-size: 25px;
	margin-top:0; 
	margin-bottom: 0px;
}

.book-title-div h2 {
	display: inline; 
	font-size: 21px;
	margin-left: -4px;
	margin-top:0; 
	margin-bottom: 0px;
}

.bookH1 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.author-div {
	margin-top: 5px; 
}

.author-div p {
	display: inline;
}

.book-overview-inner p{
	text-indent: 25px; 
	margin-top: 8px; 
	margin-bottom: 8px; 
}



.book-info-div p{
	margin: 0;
}


.book-genre-div ul {

	margin-top: 8px; 
	padding-left: 25px;

}
/* ~~~~~~~~~~~~ Note Manager ~~~~~~~~~~~ */

.note-manager-div{
	margin-top: 10px; 
}

.note-button{
	width: 100%; 
}

/* ~~~~~~~~~~~~ Note ~~~~~~~~~~~ */

.note-div{
	margin-top: 10px;
	margin-bottom: 10px; 
}


.note-outer-div-inactive {
	margin-top: 10px;
	margin-bottom: 10px;
}

.note-inner-div-inactive div:first-of-type {
	display: inline-block; 
}

.note-inner-div-inactive h1 {
	font-size: 20px;  
	margin: 0; 
}
.note-inner-div-inactive h2 {
	font-size: 12px;  
	margin-top: 3px; 
	margin-bottom: 0px; 
	font-style: oblique
}

.icon {
	display: inline;
	float: right;
}

.note-inner-div-inactive .divider{
	margin: 0px; 
	margin-bottom: 9px; 
}

.note-div-active .button{
	margin-bottom: 10px; 
}

.note-div-active .button{
	margin-top: 15px; 
}



/* Search Bar */

.search-form-div{
	margin-top: 5px;

}

.search-form-div input{
	margin-bottom: 5px !important;
}

.search-bar-button-div{
	display: flex; 
	flex-direction: column;
	justify-content: flex-end;
}

.search-bar-button-div .button{
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 5px;


}

/* ~~~~~~~~ Search Pages ~~~~~~~ */

.search-results-div {
	margin-top: 15px;
	display: flex;
	flex-direction: column; 
	justify-content: center;
}

.search-results-div .button{
	margin-top: 15px; 
	margin-bottom: 10px; 
	width: 100%; 
}

.swipe-row-elem-mobile{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*  */