.SwipeRowElemSeg{
    position: relative;
    display: flex; 
    flex-direction: column;
    height: 400px; 
}

.SwipeRowElemSeg2{
    position: relative;
    display: flex; 
    flex-direction: column;
    height: 400px; 
}

.maxLines {
    font-size: 13px;
    margin-bottom: 1px; 
    text-align: center;
  }


.segmentImage{
    height: 216px; 
}

.wrapImage2{
    justify-content: center;
    align-items: center;
}
.searchImage{
    height: 275px; 
    justify-content: center;
    align-items: center;
}

.innerSegment{

    flex-grow: 1; 
}



.redDiv p {
    text-align: center;
    margin-bottom: 8px; 
}

.tagButton{
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
}
.buttonTest{
    
    bottom: 0; 
    align-self: flex-end;
}




